#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define SYM 1
#define NAV 2

/ {
    keymap {
        compatible = "zmk,keymap";

        DEF {
            bindings = <
&kp ESCAPE        &kp N1  &kp N2  &kp N3            &kp N4        &kp N5            &kp N6         &kp N7  &kp N8     &kp N9   &kp N0     &kp MINUS
&kp TAB           &kp Q   &kp W   &kp F             &kp P         &kp B             &kp J          &kp L   &kp U      &kp Y    &kp SEMI   &kp LEFT_BRACKET
&kp LEFT_SHIFT    &kp A   &kp R   &kp S             &kp T         &kp G             &kp M          &kp N   &kp E      &kp I    &kp O      &kp SQT
&kp LEFT_CONTROL  &kp Z   &kp X   &kp C             &kp D         &kp V             &kp K          &kp H   &kp COMMA  &kp DOT  &kp SLASH  &kp RSHIFT
                                  &kp LEFT_COMMAND  &kp SPACE     &mo 1             &mo NAV        &none   &kp ENTER
                                                    &kp LEFT_ALT  &kp LC(DELETE)    &kp BACKSPACE  &none
            >;
        };

        SYM {
            bindings = <
&kp TILDE  &kp EXCL  &kp F2          &kp F3            &kp F4           &kp F5     &kp C_PLAY  &kp K_PREVIOUS  &kp K_NEXT       &kp K_VOLUME_DOWN  &kp K_VOLUME_UP  &kp EQUAL
&none      &none     &none           &kp UP_ARROW      &none            &none      &none       &none           &kp RIGHT_ARROW  &none              &kp HOME         &kp RIGHT_BRACKET
&none      &none     &kp LEFT_ARROW  &kp DOWN_ARROW    &kp RIGHT_ARROW  &none      &none       &kp LEFT_ARROW  &kp DOWN_ARROW   &kp RIGHT_ARROW    &kp END          &kp PAGE_UP
&none      &none     &none           &none             &none            &none      &none       &none           &none            &none              &kp BSLH         &kp PAGE_DOWN
                                     &kp LEFT_COMMAND  &none            &none      &none       &none           &none
                                                       &kp LEFT_ALT     &kp ESC    &none       &none
            >;
        };

        NAV {
            bindings = <
&kp F12  &kp F1     &kp F2          &kp F3          &kp F4           &kp F5         &kp F6       &kp F7          &kp F8          &kp F9           &kp F10          &kp F11
&trans   &kp AT     &kp AMPS        &kp UP_ARROW    &kp RBRC         &bootloader    &bootloader  &kp N7          &kp UP_ARROW    &kp N9           &kp PRINTSCREEN  &trans
&trans   &kp EQUAL  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp TILDE      &kp N0       &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp PLUS         &kp STAR
&trans   &trans     &kp PRCNT       &kp LBKT        &kp RBKT         &kp PIPE       &kp N0       &kp N1          &kp N2          &kp N3           &kp BSLH         &trans
                                    &trans          &trans           &trans         &kp LEFT     &kp UP          &kp RIGHT
                                                    &trans           &kp ESC        &kp ESC      &kp DOWN
            >;
        };
    };
};
